<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-2 col-md-1">
        <ul class="list-unstyled">
          <li><a href="{{ site.url }}/about">About</a></li>
          <li><a href="mailto:{{ site.email }}">Support</a></li>
          <li><a href="{{ site.url }}/news">News</a></li>
        </ul>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-1">
        <ul class="list-unstyled">
          <li><a href="{{ site.url }}/offers">Offers</a></li>
          <li><a href="{{ site.url }}/license">License</a></li>
          <li><a href="{{ site.url }}/privacy">Privacy</a></li>
        </ul>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-1">
        <ul class="list-unstyled">
          <li><a href="https://twitter.com/essential-ui">Twitter</a></li>
          <li><a href="github.com/reardestani/essential-ui">Github</a></li>
        </ul>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-3 col-md-offset-1">
        <h4>Downloads</h4>
        <p>Our freebies have been downloaded about:</p>
        <p class="total-downloads">&infin;</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <h4>Newsletter</h3>
        <p class="subscription-response">Subscribe to recieve news about new products, updates and offers.</p>
        <form class="form-inline form-newsletter">
          <div class="form-group">
            <label class="sr-only" for="newsletterEmail">Email address</label>
            <input type="email" class="form-control email" id="newsletterEmail" placeholder="Enter email" required> 
          </div>
          <button type="submit" class="btn btn-default btn-subscribe">Subscribe</button>
        </form>
      </div> 
    </div> <!-- /.row -->
    <hr>
    <p class="copyright">Copyright &copy; 2015 Essential UI &middot; Crafted by <a href="http://reardestani.ir" target="_blank">Reza Ardestani</a></p>
  </div> <!-- /.container -->
  
  {% if site.url == '' %}
    <script src="{{ prepend: site.url }}/js/jquery.min.js"></script>
  {% else %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  {% endif %}
  <script src="{{ prepend: site.url }}/js/bootstrap.min.js"></script>
  <script src="{{ prepend: site.url }}/js/scripts.min.js"></script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  {% if site.url != '' %}
    <!-- Histats.com  START (hidden counter)-->
    <script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
    <a href="http://www.histats.com" target="_blank" title="web page hit counter" ><script  type="text/javascript" >
    try {Histats.start(1,3076135,4,0,0,0,"");
    Histats.track_hits();} catch(err){};
    </script></a>
    <noscript><a href="http://www.histats.com" target="_blank"><img  src="http://sstatic1.histats.com/0.gif?3076135&101" alt="web page hit counter" border="0"></a></noscript>
    <!-- Histats.com  END  -->
  {% endif %}
</footer>
