<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="com-sm-4">
        <ul class="list-unstyled">
          <li><a href=""></a></li>
        </ul>
      </div>
      <div class="com-sm-4">
        <ul class="list-unstyled">
          <li><a href=""></a></li>
        </ul>
      </div>
    </div> <!-- /.row -->
    <p>Created and maintained by <a href="http://reardestani.ir" target="_blank">@reardestani</a></p>
  </div> <!-- /.container -->

  <script src="{{ prepend: site.baseurl | prepend: site.url }}/js/jquery.min.js"></script>
  <script src="{{ prepend: site.baseurl | prepend: site.url }}/js/bootstrap.min.js"></script>
</footer>
