<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-2 col-md-1">
        <ul class="list-unstyled">
          <li><a href="{{ site.url }}/about">About</a></li>
          <li><a href="mailto:{{ site.email }}">Support</a></li>
          <li><a href="{{ site.url }}/news">News</a></li>
        </ul>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-1">
        <ul class="list-unstyled">
          <li><a href="{{ site.url }}/offers">Offers</a></li>
          <li><a href="{{ site.url }}/license">License</a></li>
          <li><a href="{{ site.url }}/privacy">Privacy</a></li>
        </ul>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-1">
        <ul class="list-unstyled">
          <li><a href="https://twitter.com/essential-ui">Twitter</a></li>
          <li><a href="github.com/reardestani/essential-ui">Github</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
        <h4>Newsletter</h3>
        <p>Subscribe to recieve news about new products, updates and offers.</p>
        <form class="form-inline newsletter">
          <div class="form-group">
            <label class="sr-only" for="newsletterEmail">Email address</label>
            <input type="email" class="form-control email" id="newsletterEmail" placeholder="Enter email" required> 
          </div>
          <button type="submit" class="btn btn-default btn-subscribe">Subscribe</button>
        </form>
      </div> 
    </div> <!-- /.row -->
    <hr>
    <p class="copyright">Copyright &copy; 2015 Essential UI &middot; Crafted by <a href="http://reardestani.ir" target="_blank">Reza Ardestani</a></p>
  </div> <!-- /.container -->

  <script src="{{ prepend: site.baseurl | prepend: site.url }}/js/jquery.min.js"></script>
  <script src="{{ prepend: site.baseurl | prepend: site.url }}/js/bootstrap.min.js"></script>
</footer>
