<header class="site-header" role="banner">
  <div class="call-to-tweet">
    <div class="container">
      <span></span>Tweet to win a one year membership in our weekly raffle.
    </div>
  </div>
  <div class="container">
    <h1 class="site-title">
      <a href="{{ site.url }}">Essential UI</a>
      <button class="btn btn-join pull-right">Join to download</button>
    </h1>
    <h2 class="site-subtitle">A crafted collection of HTML, CSS and JavaScript UI for day-to-day development.</h2>
  </div>
  <nav class="navbar navbar-call-to-join navbar-fixed-top" data-spy="affix" data-offset-top="160">
    <div class="container">
      <p class="hidden-xs">Access to all products for only $3 &rarr;</p>
      <button class="btn btn-join navbar-btn navbar-right hidden-xs">Join now</button>
      <button class="btn btn-join navbar-btn btn-block visible-xs">Join now for $3</button>
    </div>
  </nav>
  
</header>
