<header class="site-header" role="banner">
  <div class="call-to-tweet">
    <div class="container">
      <span></span>Tweet or star to win a one year membership in our weekly raffle.
    </div>
  </div>
  <div class="container">
    <h1 class="site-title">
      <a href="{{ site.url }}/">{{ site.title }}</a>
      <a class="btn btn-join pull-right" href="{{ site.join }}" target="_blank">Join to download all</a>
    </h1>
    <h2 class="site-subtitle">{{ site.description }}</h2>
  </div>
  <nav class="navbar navbar-call-to-join navbar-fixed-top" data-spy="affix" data-offset-top="160">
    <div class="container">
      <p class="hidden-xs">Access to all products for only $3 &rarr;</p>
      <a class="btn btn-join navbar-btn navbar-right hidden-xs" href="{{ site.join }}" target="_blank">Join now</a>
      <a class="btn btn-join navbar-btn btn-block visible-xs" href="{{ site.join }}" target="_blank">Join now for $3</a>
    </div>
  </nav>
  
</header>
