<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default btn-demo" data-href="{{ site.url }}/products/{{ page.slug }}/demo" data-id="{{ page.ID }}" data-fn="update-demo">Demo</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default btn-like" data-id="{{ page.ID }}" data-fn="update-likes">Like me</button>
  </div>
  {% if page.category == "freebie" %}
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-download" data-href="{{ site.url }}/products/{{ page.slug }}/{{ page.slug }}.zip" data-id="{{ page.ID }}" data-fn="update-downloads">Download</button>
    </div>
  {% endif %}
</div>
<a class="btn btn-post btn-download-all btn-block" href="{{ site.join }}" data-fn="update-download-all" data-id="{{ page.ID }}" target="_blank">Download all</a>