---
layout: default
---
<div class="container">
  <div class="col-sm-8 post">
    <main role="primary">
      <img src="{{ site.baseurl }}/img/full.png" alt="{{ page.title }} thumbnail 1" class="img-thumbnail">
      <img src="{{ site.baseurl }}/img/full.png" alt="{{ page.title }} thumbnail 2" class="img-thumbnail">
      <img src="{{ site.baseurl }}/img/full.png" alt="{{ page.title }} thumbnail 3" class="img-thumbnail">
      <img src="{{ site.baseurl }}/img/full.png" alt="{{ page.title }} thumbnail 4" class="img-thumbnail">
      <img src="{{ site.baseurl }}/img/full.png" alt="{{ page.title }} thumbnail 5" class="img-thumbnail">
    </main>
  </div>
  <div class="col-sm-4 post-aside">
    <aside rolw="complementary">
      <h1>{{ page.title }}</h1>
      {{ content }}
      <h2>Downloads</h2>
      <ul>
        <li><a href="https://gum.co/eesential-ui" target="_blank">Download all &rarr;</a></li>
        <li><a href="#">Download this freebie &darr;</a></li>
      </ul>
      <h2>Statistics</h2>
      <ul>
        <li>1200 views</li>
      </ul>
    </aside>
  </div>
</div>
